
.page {
  /*padding: 20px;*/
  width: 595px;
  height: 841px;
  background-color: white;
  /*border: 1px solid black;*/
}

body {
  margin: 0;
  padding: 0;
  width: 595px;
  height: 841px;
}

.left {
  padding-left: 50px;
}
.right {
  padding-right: 50px;
}
div{
  border-style: none !important;
}
.img-4187BEB{
  position: absolute;
    left: 28.91px;
    top: 308.11px;
    width: 242px;
    height: auto;
    z-index: 1000;
    display: block;
}

.zoom{
  transition: transform .2s;
}

.zoom:hover{
transform: scale(1.3);
}